<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Message Board | Members Only</title>
</head>

<body>
  <%- include('partials/header.ejs', {user}) %>
  <div class="center-wrapper">
    <% if (messages) { %>
    <div class="messages-list">
      <% messages.forEach(message => { %>
      <div class="message-block">
        <p><%= message.text %> </p>
        <div class="title">
          <% if (user?.isMember) { %>
          <%= message.author.username %> -
          <% } else { %>
          Anonymous -
          <% } %>
          <%= message.date %>
          <% if (user?.username === message.author.username) { %>
          <a href="/<%= `${message._id}/delete` %>" class="delete">
            <svg class="delete-icon" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
            </svg>
          </a>
          <% } %>
        </div>
      </div>
      <% }) %>
    </div>
    <% } %>

    <% if (user) { %>
    <%- include('partials/message-form.ejs') %>
    <% } %>
  </div>
</body>

</html>